<app-navbar></app-navbar>


<div class="container">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../../assets/stylesheets/storeCard.css">

<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
        <h1>Stores</h1>
        <p>Choose any store you want to reserve your stuff with! </p>
    </div>
</div>

<div class="row">
      <div class="col-md-4" *ngFor="let ST of storeType">
        <br>
        <div class="column"> 
           <div class="post-module"> 
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date" id="butSt"> <a href="store/{{ST.idStore}}">
                <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                </a> </div>
              <img src="{{ST.image}}" class="img-responsive" alt=""> </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category">Store</div>
              <h1 class="title">{{ST.name}}</h1>
              <h2 class="sub_title">LEAD COORDINATOR</h2>
              <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic monuments, magnificent buildings and countless dazzling skyscrapers.</p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
            </div>
          </div>
        </div>
      </div> 
    </div>










</div>

<script  type="application/javascript">
$(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});
</script>