html, body {
  margin: 0px;
}

h1, h2, a {
  /*font-family: 'Bubbler One', sans-serif; */
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Droid Sans', Arial, sans-serif;
}

.containerHome {
  max-width: 940px;
  margin: 0 auto;
}

/* Main */
.main {
  text-align: center;
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.main .containerHome {
  position: relative;
  top: 150px;
}

.main h1 {
  color: #fff;
  margin: 0;
  font-size: 6em;
}

.main p {
  color: #fff;
  margin: 0 0 30px 0;
  font-size: 18px;
}

.main .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}
#butSt {
  background-color: #1c1c1c;
}
.btns {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Supporting */
.supporting {
  background-color: #1c1c1c;
  padding: 50px 0 80px;
  text-align: center;
}

.supporting .tipsContainerHome {
  background-color: #1c1c1c;
  padding: 30px 50px 90px 50px;
  text-align: center;
}

.supporting .col {
  float: left;
  width: 33%;
}

.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 20px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

/* Feature */
.feature {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.feature .containerHome {
  position: relative;
  top: 200px;
}

.feature h2 {
  color: #fff;
  font-size: 40px;
  margin:0;
  padding:50px 0 0;
}

/* Footer */
.footer {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg") no-repeat center center;
  background-size: cover;
  height: 600px;
  text-align: center;
}

.footer .containerHome {
  position: relative;
  top: 200px;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding:50px 0 0;
}

.footer p {
  color: #fff;
  font-size: 18px;
  margin: 0 0 20px 0;
}

.footer .btn {
  background-color: #1c1c1c;
  color: #fff;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover {
  background:#ffa800;
  color:#000;
}
#butSt:hover {
  background:#ffa800;
  color:#000;
} 