<link href="../../../assets/stylesheets/login/styles/style.css" rel='stylesheet' type='text/css' />
<link href="../../../assets/stylesheets/login/styles/font-awesome.css" rel="stylesheet">
<!-- Font-Awesome-Icons-CSS -->
<link href="//fonts.googleapis.com/css?family=Hind:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>


<body>
	<div class="layer">
		<h1>Log In & Subscribe</h1>
		<div class="main-agile1">
			<div class="w3layouts-main">
				<h2>Log In with</h2>
				<div class="social_icons agileinfo">
					<ul class="top-links">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<span>(or)</span>
				<h3>Have an account?</h3>
				<form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
					<div class="email">
						<input placeholder="E-Mail" formControlName="nick" type="text" required="">
						<span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
					</div>
					<div class="email">
						<input placeholder="Password" formControlName="pass" type="password" required="">
						<span class="icons i2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
					</div>
					<input type="submit" value="GO" name="login">
				</form>
			</div>
			<div class="main-agile">
				<div class="alert-close"> </div>
				<div class="content-wthree">
					<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
					<h2>Subscribe</h2>
					<p>subscribe to get our latest updates!</p>
					<p>drop a mail to join our newsletter for free news</p>
					<form action="#" method="post">
						<div class="email">
							<input type="email" class="email" name="eamil" placeholder="Enter Your Email" required="">
							<span class="icons i1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
						</div>
						<input type="submit" value="Subscribe">
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer-w3l">
			<p class="agileinfo"> &copy; 2017 MegaCart. All Rights Reserved | Design by MCTeam</p>
		</div>
	</div>
</body>

<script src="../../../assets/javascripts/login/jquery.min.js"></script>
<script>
	$(document).ready(function (c) {
		$('.alert-close').on('click', function (c) {
			$('.main-agile').fadeOut('slow', function (c) {
				$('.main-agile').remove();
			});
		});
	});
</script>