<link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/assets/stylesheets/shop-homepage.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" href="/assets/stylesheets/styling.css">
  <link rel="stylesheet" href="/assets/stylesheets/myown.css"> 

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="/"> 
                        <img src="/assets/images/cart.png" style="max-width:50px; margin-top: -15px; margin-left: 20px;">
                    </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" onclick="move()">ABOUT US<span class="sr-only"></span></a>
                </li>
                <li>
                    <a href="#" onclick="move()">CONTANCT US<span class="sr-only"></span></a>
                </li>
                <li>
                    <a href="#" onclick="move()">COLABORATE<span class="sr-only"></span></a>
                </li>
                <li>
                    <a href="#" onclick="move()">DONATE<span class="sr-only"></span></a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">FOLLOW US<span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="">FACEBOOK</a>
                        </li>
                        <li>
                            <a href="">TWITTER</a>
                        </li>
                        <li>
                            <a href="">INSTAGRAM</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/login">LOG IN</a>
                </li>
                <li>
                    <a href="#">HELP</a>
                </li>
            </ul>
        </div>
        <ul class="nav nav-tabs" id="myTab">
            <li class="active" style="padding-top: -50px;">
                <a href="#home" data-toggle="tab" aria-expanded="true">HOME</a>
            </li>
            <li>
                <a href="#stores" data-toggle="tab" aria-expanded="true">STORES</a>
            </li>
            <li>
                <a href="#categories" data-toggle="tab" aria-expanded="true">CATEGORIES</a>
            </li>
            <li>
                <a href="#bestselling" data-toggle="tab" aria-expanded="true">TOP SELLING</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="home">
        <div class="main">
            <div class="containerHome">
                <h1>MegaCart</h1>
                <p>Reserve whatever you want, whenever you want!</p>
                <a class="btn" href="#">Create account</a>
            </div>
        </div>
        <div class="supporting">
            <div class="tipsContainerHome">
                <div class="col">
                    <h2>Simple</h2>
                    <p>Just open the app, look for your product in the store you want,
                    </p>
                </div>
                <div class="col">
                    <h2>Efective</h2>
                    <p>After you reserve your product, go to the store, pay and that's it!</p>
                </div>
                <div class="col">
                    <h2>Faster</h2>
                    <p>Becuse you save time looking from home, instead going to look to Stores
                    </p>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="containerHome">
                <h2>Navigate through stores and make sure the product is in your favorite store.</h2>
            </div>
        </div>
        <div class="supporting">
            <div class="containerHome">
                <h2>Go Premium</h2>
                <p>Then you will be able to add your own store.</p>
                <a class="btn" href="#">Learn More</a>
            </div>
        </div>
        <div class="footer">
            <div class="containerHome">
                <h2>Stop scrolling. Start reserving.</h2>
                <a class="btn" href="#">Start Now</a>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="stores">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Stores</h1>
                    <p>Choose any store you want to reserve your stuff with! </p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU OWN STORE</a>
                </div>
            </div>
                    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../../../assets/stylesheets/storeCard.css">
        <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let s of store">
                    <br>
                    <div class="column">
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail">
                                <div class="date" id="butSt">
                                    <a href="store/{{s.idStore}}">
                                        <div class="day"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                    </a>
                                </div>
                                <img src="{{s.image}}" class="img-responsive" alt=""> </div>
                            <!-- Post Content-->
                            <div class="post-content">
                                <div class="category">Store</div>
                                <h1 class="title">{{s.name}}</h1>
                                <h2 class="sub_title">LEAD COORDINATOR</h2>
                                <p class="description">New York, the largest city in the U.S., is an architectural marvel with plenty of historic
                                    monuments, magnificent buildings and countless dazzling skyscrapers.</p>
                                <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-">o</i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
    <div class="tab-pane fade" id="categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Types</h1>
                    <p>Choose any store you want to reserve your stuff with! </p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU OWN STORE</a>
                </div>
            </div>
            <div class="row">

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
                <link rel="stylesheet" href="../../../assets/stylesheets/cardType.css">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4" *ngFor="let t of type">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="storetype/{{t.idType}}">
                                <img src="{{t.image}}" style="height:175px;width:262px;">    
                                <div class="wrimagecard-topimage_title">
                                    <h4>{{t.name}}
                                        <div class="pull-right badge">{{t.Cantidad}}</div>
                                    </h4>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="bestselling">
        <div class="container">
            <h1>Best selling</h1>
            <p>seold! </p>
        </div>
    </div>
</div>
