<app-mynavbar></app-mynavbar>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="home">
       
        
       
        
        
    </div>
    <div class="tab-pane fade" id="stores">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Stores</h1>
                    <p>Choose any store you want to reserve your stuff with! </p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU OWN STORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a>
                            </h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>
                            </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star">
                                    </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a></h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a></p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a></h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a></p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Types</h1>
                    <p>Choose any store you want to reserve your stuff with! </p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU OWN STORE</a>
                </div>
            </div>
            <div class="row">

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
                <link rel="stylesheet" href="../../../assets/stylesheets/cardType.css">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4" *ngFor="let t of type">
                            <div class="wrimagecard wrimagecard-topimage">
                                <a href="storetype/{{t.idType}}">
                                <img src="{{t.image}}" style="height:175px;width:262px;">    
                                <div class="wrimagecard-topimage_title">
                                    <h4>{{t.name}}
                                        <div class="pull-right badge">18</div>
                                    </h4>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="favs">
        <div class="container">
            <h1>My Favs</h1>
            <p>seold! </p>
        </div>
    </div>
    <div class="tab-pane fade" id="bestselling">
        <div class="container">
            <h1>Best selling</h1>
            <p>seold! </p>
        </div>
    </div>
    <div class="tab-pane fade" id="mycart">
        <div class="container">
            <h1>My Cart</h1>
        </div>
    </div>
</div>

<script>
    $('#myTab').tabCollapse();
</script>
