<app-mynavbar2></app-mynavbar2>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="home">
       
        
       
        
        
    </div>
    <div class="tab-pane fade" id="stores">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Stores</h1>
                    <p>Choose any store you want to reserve your stuff with! </p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU OWN STORE</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a>
                            </h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>
                            </p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star">
                                    </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a></h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a></p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a ref="#">First Product</a></h4>
                            <p>See more snippets like this online store item at<a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a></p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
                                <span
                                    class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>Category</h1>
                    <p>Categories of your store</p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="#" style="margin: 65px 0px 50px 160px;">ADD YOU CATEGORY</a>
                </div>
            </div>
            <div class="row">
                <link rel="stylesheet" href="/assets/stylesheets/datatable.css"> 

                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let cs of categoryStore">
                            <th>{{cs.idCategoryStore}}</th>
                            <th>{{cs.categoryname}}</th>
                             
                            <button
                            (click)="borrarC()"
                            class="btn btn-danger">
                            <strong>Delete</strong>
                            </button>
                            <a class="btn btn-warning" href="producto/1">Edit</a>                    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="products">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h1>My Products</h1>
                    <p>Product of my store</p>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-offset-4 col-md-4">
                    <a class="btn btns" href="producto/nuevo" style="margin: 65px 0px 50px 160px;">ADD YOU PRODUCT</a>
                </div>
            </div>
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Details</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Details</th>
                            <th>Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let p of product">
                            <td>{{p.idProduct}}</td>
                            <td>{{p.nombreProducto}}</td>
                            <td>{{p.categroyname}}</td>
                            <td>{{p.price}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.observations}}</td>
                            <div class="btn-group">
                            <button
                            (click)="borrar(p.idProduct)"
                            class="btn btn-danger">
                            <strong>Delete</strong>
                            </button>
                            <a class="btn btn-warning" href="producto/{{p.idProduct}}">Edit</a>                    
                            </div> 
                        </tr>
                        
                    </tbody>
                </table>    
        </div>
    </div>
    
</div>



