<app-navbar></app-navbar>
<br>
<link rel="stylesheet" href="/assets/stylesheets/styleProductStore.css">

<div *ngFor="let s of store">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>{{s.name}}</h1>
                <div class="list-group" >
                      <a (click)="getTodos()" class="list-group-item">All Products</a>
                      <a  *ngFor="let cs of categoryStore"  (click)="getId(cs.idCategoryStore)" class="list-group-item">{{cs.categoryname}}</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{s.image}}" style="width:1000px; height:400px" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div align="center">
        <h1>Store Products</h1>
        <p>Choose any products! </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let p of product">
            <figure  class="snip1492 hover" >
                <img src="{{p.image}}" alt="sample60" />
                <figcaption>
                    <h3>{{p.nombreProducto}}</h3>
                    <p>{{p.observations}} / {{p.quantity}}</p>
                    <div class="price">
                        $ {{p.price}}.00
                    </div>
                    <button (click)="getIdProduct(p.idProduct)">Add to Cart</button>
                </figcaption><i class="ion-plus-round"></i>
               
            </figure>    
        </div>
    </div>
</div>
