<link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/assets/stylesheets/shop-homepage.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <link rel="stylesheet" href="/assets/stylesheets/styling.css">
  <link rel="stylesheet" href="/assets/stylesheets/myown.css"> 

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" align="center">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand"  href="/"> 
                        <img src="/assets/images/cart.png" style="max-width:50px; margin-top: -15px; margin-left: 20px;">
                    </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/login">LOG IN</a>
                </li>
            </ul>
        </div>
    </div>
</div>