<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
<link rel="stylesheet" href="/assets/stylesheets/shop-homepage.css">
<link rel="stylesheet" href="/assets/stylesheets/style.css">
<link rel="stylesheet" href="/assets/stylesheets/styling.css">
<link rel="stylesheet" href="/assets/stylesheets/myown.css">

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" align="center">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
            <a class="navbar-brand" href="/dashboard/admin"> 
                        <img src="/assets/images/cart.png" style="max-width:50px; margin-top: -15px; margin-left: 20px;">
                    </a>
        </div>
    </div>
</div>
<br>   
<br>


<div class="content" *ngIf="formularioProducto">
    <form class="form-horizontal" [formGroup]="formularioProducto" (ngSubmit)="guardar()">
        <fieldset>
             <h1 align="center">Produt Form</h1>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="name" type="text" placeholder="Name" class="form-control input-md">
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
                <div class="col-md-4">
                    <select id="selectbasic" formControlName="idCategory" class="form-control">
            <option *ngFor="let cs of categoryStore" value="{{cs.idCategoryStore}}">{{cs.categoryname}}</option>
            </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Price</label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="price" type="text" placeholder="Price" class="form-control input-md">

                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Quantity</label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="quantity" type="text" placeholder="Quantity" class="form-control input-md">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput"></label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="idStore" type="hidden" placeholder="idStore" class="form-control input-md">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Observations</label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="observations" type="text" placeholder="Observations" class="form-control input-md">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Imagen</label>
                <div class="col-md-4">
                    <input id="textinput" formControlName="image" type="text" placeholder="Imagen" class="form-control input-md">

                </div>
            </div>
            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id">Options</label>
                <div class="col-md-8">
                    <button id="button1id" type="submit" name="button1id" class="btn btn-success">Add Produt</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>