footer(class="navbar" role="navigation")
    div(class="container")
        div(class="navbar-text pull-left")
            h6 MEGACART Inc. All Rights reserved. 2017. 
        div(class="navbar-text pull-center")
            h6 Reserve whatever you want, whenever you want!
        div(class="navbar-text pull-right")
            a(href="#")
                i(class="fa fa-instagram fa-2x")
            a(href="#")
                i(class="fa fa-facebook-square fa-2x")
            a(href="#")
                i(class="fa fa-twitter fa-2x")
            a(href="#")
                i(class="fa fa-google-plus fa-2x")
    
    

    
        
