extends layout

block content
  div(id="myTabContent" class="tab-content")
    div(class="tab-pane fade active in" id="home")
      div(class="jumbotron")
        div(class="container")
          h1 Home
          p This is the place where you will learn how to use the best web service!
          p
            a(class="btn btn-primary btn-lg") Learn More

      div(class="container") 
        h2 WHO ARE WE?

      hr

      div(class="container")
        div(class="row")
        div(class="col-md-4")
          div(class="card")
            img(src="/images/fredy.jpg" alt="Avatar" style="width:100%")
            div(class="containerCard")
              h4
                b Fredy Garcia
              p Architect and Engineer
        div(class="col-md-4")
          div(class="card")
            img(src="/images/juanjo.jpg" alt="Avatar" style="width:100%")
            div(class="containerCard")
              h4
                b Jose Ramos
              p Architect and Engineer
        div(class="col-md-4")
          div(class="card")
            img(src="/images/Yorch.jpg" alt="Avatar" style="width:100%")
            div(class="containerCard")
              h4
                b Jorge Guerra
              p Pro skater and Engineer


    div(class="tab-pane fade" id="apitype")
      div(class="container")
        h1 Type

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/type/") localhost:3000/api/ws/mc/type/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/type/:idType") localhost:3000/api/ws/mc/type/:idType

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/type/") localhost:3000/api/ws/mc/type/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/type/:idType") localhost:3000/api/ws/mc/type/:idType

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/type/:idType") localhost:3000/api/ws/mc/type/:idType

    div(class="tab-pane fade" id="apistore")
      div(class="container")
        h1 Store

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/store/") localhost:3000/api/ws/mc/store/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/store/:idStore") localhost:3000/api/ws/mc/store/:idStore

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/store/") localhost:3000/api/ws/mc/store/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/store/:idStore") localhost:3000/api/ws/mc/store/:idStore

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/store/:idStore") localhost:3000/api/ws/mc/store/:idStore

    div(class="tab-pane fade" id="apistoretype")
      div(class="container")
        h1 StoreType

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/storetype/") localhost:3000/api/ws/mc/storetype/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/storetype/:idStoreType") localhost:3000/api/ws/mc/storetype/:idStoreType

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/storetype/") localhost:3000/api/ws/mc/storetype/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/storetype/:idStoreType") localhost:3000/api/ws/mc/storetype/:idStoreType

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/storetype/:idStoreType") localhost:3000/api/ws/mc/storetype/:idStoreType

    div(class="tab-pane fade" id="apicategory")
      div(class="container")
        h1 Category

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/") localhost:3000/api/ws/mc/category/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/") localhost:3000/api/ws/mc/category/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/category/:idCategory") localhost:3000/api/ws/mc/category/:idCategory
        
    div(class="tab-pane fade" id="apicategorystore")
      div(class="container")
        h1 CategoryStore

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categorystore/") localhost:3000/api/ws/mc/categorystore/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categorystore/:idCategoryStore") localhost:3000/api/ws/mc/categorystore/:idCategoryStore

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categorystore/") localhost:3000/api/ws/mc/categorystore/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categorystore/:idCategoryStore") localhost:3000/api/ws/mc/categorystore/:idCategoryStore

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/categorystore/:idCategoryStore") localhost:3000/api/ws/mc/categorystore/:idCategoryStore

    div(class="tab-pane fade" id="apiproduct")
      div(class="container")
        h1 Product

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/") localhost:3000/api/ws/mc/product/

        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title") GET
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title") POST
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/") localhost:3000/api/ws/mc/product/

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title") DELETE
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title") PUT
          div(class="panel-body") 
            a(href="localhost:3000/api/ws/mc/product/:idProduct") localhost:3000/api/ws/mc/product/:idProduct

block foot